output.txt 
node_modules 
dist 
.mastra 
.env.development 
.env 
*.db 
*.db-* 
.netlify 
.vercel 
/src/docs/docling/**
/src/docs/odl/**
/src/docs/chunked/**
/src/docs/entity-extraction/**

.opencode

*.duckdb
*.duckdb.wal